body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  padding: 20px;
  background-color: white;
}

.js-answer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  padding: 20px;
  font-size: 27px;
}

.weather {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 71%;
  max-width: 80%;
}


.la-weather {
  float: left;
  margin: 15px;
  text-align: center;
  max-width: 35%;
  height: 8em;
  font-size: 22px;
  background-image: linear-gradient(dodgerblue, lightblue, sandybrown);
  border-radius: 30px;
  border-style: solid;
  border-width: 4px;
  border-color: white;
}

.ny-weather {
  float: right;
  margin: 15px;
  text-align: center;
  max-width: 35%;
  height: 8em;
  font-size: 22px;
  background-image: linear-gradient(dodgerblue, lightblue, sandybrown);
  border-radius: 30px;
  border-style: solid;
  border-width: 4px;
  border-color: white;
}

.gh {
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

.feet {
   position:fixed;
   left:0px;
   bottom:0px;
   height:6em;
   width:100%;
   background:#999;
}

.gh-logo {
   left:0px;
   margin-top:1em;
   border-radius: 6px;
}

html, body {
  height: 100%
}

hr {
  max-width: 100px;
  height: 2px;
  border-top: 1px solid white;
  border-bottom: 1px solid white
}

hr.colored {
  border-color: #ef4035
}

section.page-section {
  padding: 100px 0
}

::-webkit-input-placeholder {
  font-weight: 300;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

:-moz-placeholder {
  font-weight: 300;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

::-moz-placeholder {
  font-weight: 300;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

:-ms-input-placeholder {
  font-weight: 300;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

body {
  font-weight: 300;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

a {
  color: #ef4035;
  -webkit-transition: all .5s;
  transition: all .5s
}

a:hover, a:focus {
  color: #c81b10;
  text-decoration: none
}

p {
  font-size: 18px;
  line-height: 1.5
}

h1, h2, h3, h6 {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900
}

#mainNav {
  background-color: dodgerblue;
}

#mainNav .navbar-toggler {
  padding: 15px;
  color: white;
  font-size: 14px;
}

#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
  color: #222;
  background-color: white
}

#mainNav .navbar-brand {
  color: white;
  font-size: 24px;
  line-height: 44px;
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase
}

#mainNav .navbar-collapse .navbar-nav>.nav-item>.nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white
}

#mainNav .navbar-collapse .navbar-nav>.nav-item>.nav-link:focus, #mainNav .navbar-collapse .navbar-nav>.nav-item>.nav-link:hover {
  color: rgba(255, 255, 255, 0.5)
}

button:hover {
  cursor: pointer
}

.text-primary {
  color: #ef4035 !important
}

.bg-inverse {
  background-color: #222 !important
}

.skillbox {
  background: darkgrey;
  border: 2px solid #ef4035;
  border-radius: 2px
}
